body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
	padding-bottom: 1em;
}

h2,
h3,
h4,
h5 {
	padding-top: 1.5em;
}

h1 {
	font-size: 28px;
	font-weight: 900;
}

h2, h3, h4 {
	color: #21759b;
}

h2 {
	font-size: 20px;
	font-weight: 600;
}

h3 {
	font-size: 16px;
	font-weight: 600;
}

h4 {
	font-size: 14px;
	font-weight: 400;
}

p, article ul, article ol {
	margin-bottom: 2em;
	line-height: 1.5em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

article ol, article ul {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 2em;
}

footer {
	border-top: 1px solid #ededed;
	padding-top: 1em;
	margin-top: 1em;

	font-size: 12px;
}

footer a {
	color: #333333;
}

footer a:hover {
	color: #2b7196;
}

table {
	width: 100%;
	margin-bottom: 2em;
}

table thead th {
	font-weight: bold;
	text-align: left;
	padding: 0 1em 0.5em 0;
}

table tbody td {
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	padding: 1em 1em 1em 0;
}

.container {
	margin: 1.5em;
	background-color: #ffffff;
}

.title {
	margin: .5em;
}

.menu ul {
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
}

.menu ul li {
	display: inline-block;
	padding: 1em .7em;
}

.menu ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	color: #333333;
}

.menu ul li:not(.active) a:hover {
	color: rgb(100, 135, 100);
	font-weight: 500;
}

.menu ul li.active {
	color: rgb(100, 135, 100);
	font-weight: bold;
}

@media (min-width: 900px) {
	body {
		background-color: #ededed;
	}
	.container {
		width: 800px;
		margin: 3.5em auto;
		padding: 3em;
		box-shadow: 0px 0px 10px #bebebe;
	}
}

@media (min-width: 1150px) {
	.container {
		width: 990px;
	}
}
